# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [3]:
# for keyword, counter/iterator, in keyword, object
for i in range(10):
    print(i)
    
# we can also loop through a string and get each of the letters back
print("\n")    
name = "Kate Lueders"    
for letter in name:
    if letter == " ":
        print('this is a space')
    else:
        print(letter)

0
1
2
3
4
5
6
7
8
9


K
a
t
e
this is a space
L
u
e
d
e
r
s

##### Using 'in' keyword

In [4]:
#in is what accesses the items in an iterable
# every for loop needs an 'in'
for num in range(15):
    print(num**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

##### Continue Statement

In [5]:
#continue
# like a skip
for i in range(5):
    print(i)
for i in range(10):
    if i == 5 or i == 6:
        continue
    print(i)

0
1
2
3
4
0
1
2
3
4
7
8
9

##### Break Statement

In [10]:
# this will break out of the current loop
for i in range(100):
    if i == 23:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration
# use this when you don't quite know what you're doing with the for loop yet, this can prevent
# the code from breaking
for i in range(1234):
    pass
    
for it range(10):
    print(10)
    
def do_this_later():
    pass
#this function is going to do great things, remember to do stuff with this function

##### Double For Loops

In [13]:
# time and complexity-wise double loops are not good
for i in range(5):
    print("i = ", i)
    for j in range(5):
        print("j = ", j)

i =  0
j =  0
j =  1
j =  2
j =  3
j =  4
i =  1
j =  0
j =  1
j =  2
j =  3
j =  4
i =  2
j =  0
j =  1
j =  2
j =  3
j =  4
i =  3
j =  0
j =  1
j =  2
j =  3
j =  4
i =  4
j =  0
j =  1
j =  2
j =  3
j =  4

### While Loops

In [16]:
#while keyword, condition statement
#while loop will run based on the condition statement
counter = 0
while counter < 11:
    counter += 1
    print(counter)
    
# to count by twos
counter2 = 0
while counter2 < 11:
    print(counter2)
    counter2 += 2

1
2
3
4
5
6
7
8
9
10
11
0
2
4
6
8
10

##### looping 'While True'

In [17]:
# true as a condition for while loop to run
game_over = False

while True:
    print("infinite loop")
    if game_over == False:
        break

infinite loop

In [19]:
# flags
game_over = True
counter = 0
while game_over:
    counter += 1
    print("infinite loop")
    if counter == 10:
        game_over = False

infinite loop
infinite loop
infinite loop
infinite loop
infinite loop
infinite loop
infinite loop
infinite loop
infinite loop
infinite loop

##### While & For Loops Used Together

In [21]:
j = 0

while j < 10:
    print("\n While loop iteration: " + str(j))
    for i in range(3):
        print("For loop iteration: " + str(i))
        
    j += 1

 While loop iteration: 0
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2

 While loop iteration: 1
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2

 While loop iteration: 2
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2

 While loop iteration: 3
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2

 While loop iteration: 4
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2

 While loop iteration: 5
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2

 While loop iteration: 6
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2

 While loop iteration: 7
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2

 While loop iteration: 8
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2

 While loop iteration: 9
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2

##### The Range Function

In [4]:
# range(start, stop, step) - stop is required and start defaults to 0 if none is given
for i in range(10):
    print(i)

print("\n")
for i in range(2, 10):  # start and stop
    print(i)

print("\n")
for i in range(1, 20, 3): # start, stop, step
    print(i)

0
1
2
3
4
5
6
7
8
9


2
3
4
5
6
7
8
9


1
4
7
10
13
16
19

### String Manipulation Exercise

In [1]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name. Print each new name.

for name in names:
    print(name.strip().title())

Connor
Max
Evan
Jordan

## Lists

##### Declaring Lists

In [2]:
our_list = []    # <-- emtpy list
# list will always be square brackets

names = ["Ryan", "Alex", "Kate", "Saraa", "Sam", "Gus"]

numbers = [1, 2, 3, 4, 6, 7, 4, 5, 2]

print(names)
print(numbers)

stuff = [1, 3, 4.5, 7.6, "cool stuff", ['hello', 'goodbye']]

print(stuff)

['Ryan', 'Alex', 'Kate', 'Saraa', 'Sam', 'Gus']
[1, 2, 3, 4, 6, 7, 4, 5, 2]
[1, 3, 4.5, 7.6, 'cool stuff', ['hello', 'goodbye']]

##### Indexing a List

In [6]:
# [start: stop: step] --> last item [-1]
# list 
names = ["Ryan", "Alex", "Kate", "Saraa", "Sam", "Gus"]

# single index
print(names[1])
name = names[0]
print(name)
print(names[-1])   # -1 will always be the last item in a list
print("\n")

# print starting at specified index and going to the end of the list
print(names[1:])
new_names = names[2:]
print(new_names)
print("\n")

# print starting at the beginning of the list and going to a specifiewd index
print(names[:2])
print("\n")

# print starting at index 1 and stepping by 2
print(names[1::2])
print("\n")

# print starting at the back and going to the front of the list
print(names[::-2])
reverse_list = names[::-1]
print(reverse_list)

Alex
Ryan
Gus


['Alex', 'Kate', 'Saraa', 'Sam', 'Gus']
['Kate', 'Saraa', 'Sam', 'Gus']


['Ryan', 'Alex']


['Alex', 'Saraa', 'Gus']


['Gus', 'Saraa', 'Alex']
['Gus', 'Sam', 'Saraa', 'Kate', 'Alex', 'Ryan']

# List Methods

##### .append()

In [7]:
# will always add an element to the end of the list
names = ["Ryan", "Tenzin", "Austin", "Dylan", "Mohammad"]

names.append('Derrick')
print(names)

names.append('Aryan')
print(names)

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Derrick']
['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Derrick', 'Aryan']

##### .insert()

In [9]:
#our_list.insert(index, value)
names = ["Ryan", "Alex", "Kate", "Saraa", "Sam", "Gus"]
names.insert(2, "Marc")
print(names)

print(len(names))

names.insert(len(names), "Eduardo")
names.append("Eduardo")

print(names)

['Ryan', 'Alex', 'Marc', 'Kate', 'Saraa', 'Sam', 'Gus']
7
['Ryan', 'Alex', 'Marc', 'Kate', 'Saraa', 'Sam', 'Gus', 'Eduardo', 'Eduardo']

##### .pop()

In [13]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

names = ["Ryan", "Alex", "Kate", "Saraa", "Sam", "Gus"]
names.pop(0)
print(names)

popped_friend = names.pop(2)
print(popped_friend)
print(names)

names.pop()
print(names)

['Alex', 'Kate', 'Saraa', 'Sam', 'Gus']
Saraa
['Alex', 'Kate', 'Sam', 'Gus']
['Alex', 'Kate', 'Sam']

##### .remove()

In [16]:
# value to be removed, not an index
names = ['Bob', 'Billy', 'Berry', "Bob", "Bertha", 'Bob', "Bob", 'Bert']
# names.remove("Bob")

for name in names:
    if name == "Bob":
        names.remove(name)
        
print(names)

# be careful! The list will shift the indexes and it will not check every item
# so this will leave one Bob

['Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

In [18]:
names = ['Bob', 'Billy', 'Berry', "Bob", "Bertha", 'Bob', "Bob", 'Bert']

while "Bob" in names:
    names.remove("Bob")
    
print(names)
    
# this will remove ALL the Bobs

['Billy', 'Berry', 'Bertha', 'Bert']

### Working With Lists

##### del()

In [19]:
# index to be removed, not value 
names = ['Bob', 'Billy', 'Berry', "Bob", "Bertha", 'Bob', "Bob", 'Bert']
del(names[0])
print(names)

['Billy', 'Berry', 'Bob', 'Bertha', 'Bob', 'Bob', 'Bert']

##### min()

In [21]:
# return the smallest item in a list
numbers = [2, 5, 3, 12, 1, 54]
print(min(numbers))

names = ["Alphalpha", "Zoop", "Winifred", "alfred"]
print(min(names))
# prioritizes capital letters over lower case 
# if all are lower case it would go alphabetically

1
Alphalpha

##### max()

In [23]:
# returns largest item in a list
numbers = [2, 5, 3, 12, 1, 54]
print(max(numbers))

names = ["Alphalpha", "Zoop", "Winifred", "alfred"]
print(max(names))

54
alfred

##### sum()

In [24]:
# return the sum of all numbers in a list
numbers = [2, 5, 3, 12, 1, 54]

print(sum(numbers))

77

##### sorted()

In [25]:
#sorted will return a new sorted list, create a new variable
numbers = [2, 5, 3, 12, 1, 54]

print(sorted(numbers))

print(numbers)

sorted_list = sorted(numbers)
print(sorted_list)

print(numbers)

[1, 2, 3, 5, 12, 54]
[2, 5, 3, 12, 1, 54]
[1, 2, 3, 5, 12, 54]
[2, 5, 3, 12, 1, 54]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list. This is the difference between "in place" and "out of place"</p>

In [26]:
#.sort() will sort the original list
numbers = [2, 5, 3, 12, 1, 54]

numbers.sort(reverse=True)

print(numbers)

[54, 12, 5, 3, 2, 1]

##### Copying a List

In [27]:
# [:] copies a list, doesn't alter original'
numbers = [2, 5, 3, 12, 1, 54]

list_copy = numbers[:]

print("This is my original list", numbers)

print(f"This is my copy: {list_copy}")

This is my original list [2, 5, 3, 12, 1, 54]
This is my copy: [2, 5, 3, 12, 1, 54]

##### Looping Through Lists

In [31]:
#Two ways to loop through a list. one is by index and the other is by value, using the "in" keyword
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]

# looping by value
for name in names:
    print(name)
    
# looping by index with range(len)
print(len(names))
for i in range(5):
    print(i)
    
for i in range(len(names)):
    print(names[i])
    
#enumerate
for i, name in enumerate(names):
    print(i, name)

Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu
5
0
1
2
3
4
Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu
0 Han Solo
1 Leia Organa
2 Luke Skywalker
3 Lando Calrissian
4 Mace Windu

##### 'in' keyword

In [33]:
names = ["Ryan", "Alex", "Kate", "Saraa", "Sam", "Gus"]

if "Gus" in names:
    print("Hello Kate")
elif "Kate" in names:
    print("Good Day, Gus")
else:
    print("So long and thanks for all the fish")

Hello Kate

##### 'not in' keyword

In [35]:
names = ["Ryan", "Alex", "Kate", "Saraa", "Sam", "Gus"]

if "Alex" not in names:
    print("Sorry Jeremy")
else:
    print("Guten Tag, Jeremy")

# both of these "in" and "not in" would have to possibly tranverse the entirety of the list
# before giving the result

Guten Tag, Jeremy

##### Checking an Empty List

In [1]:
l_2 = []
l_3 = None
# There is a difference between None and an empty list

if l_2 == []:
    print("That is an empty list. Would ya just look at it")
    
if l_3 == l_2:
    print("yes")
else: 
    print("no")

That is an empty list. Would ya just look at it
no

##### Removing Instances with a Loop

In [ ]:
#while, remove

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [ ]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

names = list(dict.fromkeys(names))
print(names)

unique = []
for i in names:
    if i not in unique:
        unique.append(i)
    print(unique)
    
no_dupes = []
for name in names:
    if name not in no_dupes:
        no_dupes.append(name)
print(no_dupes)

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [37]:
nums = [2, 4, 5, 6, 7, 8, 9, 10]
nums_squared = []
for num in nums:
    nums_squared.append(num**2)

print(nums_squared)

nums_squared2 = [num**2 for num in nums]

print(nums_squared2)

nums_squared3 = [num**2 for num in nums if num%2==0]

print(nums_squared3)

[4, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [38]:
tup_1 = (1, 2, 3)
tup_2 = 4, 5, 6

print(tup_1)
print(tup_2)

print(type(tup_1))

# can loop through because tuple is an iterable
for num in tup_1:
    print(num)
    
print(tup_1[1])

(1, 2, 3)
(4, 5, 6)

In [39]:
# things you cannot do with tuples:
# you cannot alter them
# you cannot add to them
# you cannot remove from them
# leave tuples alone

tup_1 = (1, 2, 3)

tup_1.add(1)  # will give an error

AttributeError: 'tuple' object has no attribute 'add'

##### sorted()

In [41]:
tup = (20, 5, 1, 10, 95, 123)

sorted_tup = sorted(tup)    # changes the tuple to a list
print(sorted_tup)    
new_tup = tuple(sorted_tup)

print(new_tup)

[1, 5, 10, 20, 95, 123]
(1, 5, 10, 20, 95, 123)

In [43]:
my_list = [1, 2, 3]
my_list2 = [4, 5, 6]

my_list3 = my_list + my_list2

print(my_list3)

[1, 2, 3, 4, 5, 6]

##### Adding values to a Tuple

In [44]:
tup = (20, 5, 1, 10, 95, 123)
print(tup)
tup = tup + (6, )

print(tup)

(20, 5, 1, 10, 95, 123)
(20, 5, 1, 10, 95, 123, 6)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [ ]:
alist = [1,11,14,5,8,9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [ ]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

In [ ]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>